<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="wrap">
			{% include header.html %}
			<section class="content-block">
				<div class="content">
					{{ content }}
				</div>
				<nav class="sidebar">
					<img src="https://avatars1.githubusercontent.com/u/19759616" alt="{{ site.github_username }}">
					<p class="site-description">{{ site.description }}</p>
					<div class="social-icons">
						<a href="https://github.com/{{ site.github_username }}"><i class="fa fa-git" aria-hidden="true"></i></a>
						<a href="mailto://{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						<a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="{{ site.url }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
					</div>
				</nav>
			</section>
			{% include footer.html %}
		</div>
	</body>
</html>
